* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  color: white;
}

#symbol {
  text-transform: uppercase;
}

#matchList {
  height: 20rem;
  width: 26rem;
  overflow: auto;
  margin-right: 0;
  margin-top: 1rem;
}

h4 {
  margin-right: auto;
  margin-left: 0.5rem;
  color: white;
}

.addBtn {
  margin-left: auto;
}

::-webkit-scrollbar {
  display: none;
}

.row1 {
  margin-top: 1rem;
}

span {
  margin-right: 0.5rem;
}

#portfolioContainer {
  background-color: whitesmoke;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 25px;
}

#spanRow1 {
  font-size: 18px;
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 0.2rem;
}

img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

#portfolioRow2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#portfolioRow3 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
